* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;

}


.hero-img{
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,50%) 	rotate(45deg);
	height: 400px;
	width: 600px;
	background-image: url(planets-2120004_1920.jpg);
	transition: transform ease-out 1s, color 1s 1s;
		
	
}

.hero-img:hover{
	transform:translate(-50%,50%) rotate(-360deg);
	color: gold;
}

.hero-text{
	position: absolute;
	text-transform: uppercase;
	font-size: 35px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}



.hero-bg{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}
