body {
	background-color: #333;

}

.box-1{
    width: 400px;
    height: 400px;
    background-color: gold;
}

.circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: red;
    opacity: 30%;
}

.box-2{
    width: 100%;
    min-width: 500px;
    max-width: 800px;
    height: 200px;
    background-color: lime;
}

.box-3{
    width: 50vw;
    height: 300px;
    background-color: tomato;
}
.inside{
    width: 50%;
    height: 50vw;
    background-color: royalblue;
}


